<!-- templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header class="site-header">
        <div class="header-container">
            <a href="/" class="logo">日報管理アプリ</a>
            <nav class="nav">
                <a class="head-contents" href="/">ホーム</a>
                <a class="head-contents" href="/report/list">日報一覧</a>
                <a class="head-contents" href="/report/add">日報作成</a>
            </nav>
        </div>
    </header>
</body>
</html>