body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3a79b1, #0ed9e3);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.btn-wrap {
    display: flex;
    flex-direction: column;
}

h1 {
    /* margin-bottom: 30px; */
    font-size: 22px;
    color: #333;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-add {
    background-color: #4CAF50;
    color: white;
}

.btn-list {
    background-color: #2196F3;
    color: white;
}

.btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 25px;
    }

}