<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>日報更新</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/addReport.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="contents">
        <div class="container">

            <h1>日報編集</h1>

            <form th:action="@{/report/update}" th:object="${report}" method="post">

                <input type="hidden" th:field="*{id}">

                <label>開始日時</label>
                <input type="datetime-local" th:field="*{startTime}">
                <span class="error-text" th:errors="*{startTime}"></span>

                <label>終了日時</label>
                <input type="datetime-local" th:field="*{endTime}">
                <span class="error-text" th:errors="*{endTime}"></span>
                <span class="error-text" th:errors="*{validDateRange}"></span>

                <label>作業内容</label>
                <textarea rows="4" th:field="*{task}"></textarea>
                <span class="error-text" th:errors="*{task}"></span>

                <label>次回作業予定</label>
                <textarea rows="2" th:field="*{nextTask}"></textarea>
                <span class="error-text" th:errors="*{nextTask}"></span>

                <label>メモ</label>
                <textarea rows="2" th:field="*{memo}"></textarea>
                <span class="error-text" th:errors="*{memo}"></span>

                <div class="button-group">
                    <a class="cancel-btn" href="/report/list">キャンセル</a>
                    <button type="submit">更新</button>
                </div>

            </form>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
            flatpickr("#startTime", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
            });
            flatpickr("#endTime", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
            });
        </script>
</body>

</html>